apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-1
spec:
  selector:
    matchLabels:
      app: api-1
  template:
    metadata:
      labels:
        app: api-1
    spec:
      containers:
      - name: api-1
        image: gcr.io/kubernetes-test-project-318013/api-1:v1
        resources:
          limits:
            memory: "128Mi"
            cpu: "500m"
        ports:
        - containerPort: 80
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-2
spec:
  selector:
    matchLabels:
      app: api-2
  template:
    metadata:
      labels:
        app: api-2
    spec:
      containers:
      - name: api-2
        image: gcr.io/kubernetes-test-project-318013/api-2:v2
        resources:
          limits:
            memory: "128Mi"
            cpu: "500m"
        ports:
        - containerPort: 80
        env:
        - name: API1_SERVICENAME
          value: http://api-1/
---
apiVersion: v1
kind: Service
metadata:
  name: api-2
spec:
  type: NodePort
  selector:
    app: api-2
  ports:
  - port: 80
    targetPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: api-1
spec:
  selector:
    app: api-1
  ports:
  - name: http
    port: 80
    targetPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: api-2-external
spec:
  type: LoadBalancer
  selector:
    app: api-2
  ports:
  - name: http
    port: 80
    targetPort: 80